/* Global settings */
* {
	font-family: Helvetica;
}
body {
	font-size:14px;
	line-height:1.4em;
	margin-left: 2%;
	margin-right: 2%;
}
h1 {
	font-size: 18px;
}
h2 {
	font-size: 16px;
}
img {
	border: none;
}


/* Home page layout */
#wrapper {
	padding-top: 135px;
/* 	height: 100%; */
}
#columnLeft {
	float: left;
	width: 67%;
	height: 100%;
	padding-right: 15px;
	padding-left: 15px;
	text-align: left;
	background: #fff;
}
#columnRight {
/*
	float:left;
	width: 30%;
	padding: 50px 2% 0;
*/
	margin-right: 15px;
	margin-left: 15px;
	padding-top: 150px;
}
#stripe {
	width:100%;
	height:25px;
	position:absolute;
	top:40px;
	left:0;
	background-color: rgb(230,230,230);
}
#logo {
	top:-32px;
	left:0;
	width:100%;
	position:absolute;
}
#languages {
	position: absolute;
	right: 4%;
	top: -2px;
}
#languages img {
	margin: 3px;
}

#header {
	height: 20%;
	text-align: center;
}
#footer {
	clear: both;
	font-size: 10px;
}

/* Paragraphs */
.top {
	margin-left: 2%;
	margin-right: 2%;
 	margin-top: 2%;
 	margin-bottom: 5%;
}
.middle {
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 2%;
}
.bottom {
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 5%;
}

/* JQuery */
#accordion {
	margin-left: 4%;
	margin-right: 4%;
/* 	padding: 0 0 10% 0; */
	width: 75%;
	font-size: 0.9em;
	float: left;
}
#accordion img {
	float: left;
	margin-right: 1em;
}
#accordion a {
	font-size: 1.1em;
}
#update {
	float:left;
	margin-left: 5%;
}
#update a {
	font-style: italic;
	font-weight: bold;
	color: black;
}
#login {
	text-align: center;
}
.button  {
	margin: 0 15px;
	height: 2.5em;
	width: 6em;
	font-size: 0.9em;
	font-weight: bold;
	color: #736F6E;
}
#newAccount {
	display: none;
}
.accordionText {
	text-align: justify;
}
.accordionLink {
	text-align: right;
	font-size: 0.9em;
	font-style: italic;
}
.loginTable {
	margin: 5% 10%;
	width: 80%;
	text-align: center;
}
.loginTable  tfoot input{
	height: 3em;
	width: 5em;
	font-size: 0.9em;
	font-weight: bold;
	color: #736F6E;
}