.Mainstyle {
	font-family: "HelveticaNeue LT 107 XBlkCn";
	font-size: 24pt;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #DD137B;
	background-image: url(images/background.png);
}
