/* HTML TAGS */

body
{
	font-family: "HelveticaNeueLT Pro 45 Lt", "HelveticaNeueLT Pro 35 Th";
	font-size: 80%;
	background-color: #FFFFFF;
	color: #DD137B;
	background-image: url(../images/background.png);
}




/* OBJECTS */




/* CLASSES */